@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
	background: rgb(255, 255, 255);
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;

}
a{
	color: inherit;
	text-decoration: none;
}

main {
	min-height: calc(100vh - 120px);
}

/********************************************** HEADER/FOOTER **********************************************/
header {
	height: 90px;
	background-color: rgb(169, 241, 156);
}

footer {
	background-color: rgb(169, 241, 156);
	text-align: center;
	height: 30px;
}

.leftSideHeader {

	background-color: rgb(169, 241, 156);
	width: 200px;
	height: 100%;
}

.leftSideHeader img {
	object-fit: contain;
	width: 90%;
	margin-left: 5%;
	padding: 5px 0;
}

/********************************************** NAVBAR **********************************************/

.navItem {
	width: 290px;
	height: 70px;
	background-color: rgb(93, 222, 70);
	margin: 5px 0;
	border-radius: 0 25px 25px 0;
	position: absolute;
	left: -230px;
	transition: 0.7s;
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: black;
	font-size: 30px;

}

.navItm1 {
	top: 100px;
}

.navItm2 {
	top: 180px;
}

.navItm3 {
	top: 260px;
}

.navItm4 {
	top: 340px;
}

.navItem:hover {
	left: 0;
}

.svgImg {
	width: 40px;
	margin-right: 12px;
	margin-left: 20px;
}

/********************************************** Main **********************************************/

.mainTitle {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	font-size: 48px;
}

.disclaimer {
	font-size: 32px;
	text-align: center;
}

#mainSection {
	width: 80vw;
	border-color: rgba(128, 128, 128, 0.466);
	border-style: solid;
	border-width: 0 1px 0 1px;
	margin: auto;
	min-height: calc(100vh - 120px);
	background-color: white;
}

#contentSection {
	width: 95%;
	padding-top: 25px;
	margin: auto;
}

.error{
	color: red;
	font-size: 24px;
}
/********************************************** form **********************************************/

#patientForm {
	display: flex;
	flex-direction: column;
}

.formLabel {
	font-size: 24px;

}

.inputField {
	height: 35px;
	width: 100%;
	/* border-radius: 5px; */
	padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 40px white inset !important;

}


.validationBtn {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 13px 18px;
	background-color: rgb(93, 222, 70);
	cursor: pointer;
	width: 90%;
	border: solid 1px black;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: relative;
}

.btnContainer {
	position: relative;
	margin: auto;
	width: 20%;
}

.btnEffectSpan {
	position: relative;
}

.btnEffectSpan::before {
	content: '';
	z-index: 10;
	position: absolute;
	width: 0;
	height: 0;
	top: -14px;
	left: -7px;
	border-top: 3px solid transparent;
	border-left: 3px solid transparent;
	transition: 0.5s;
}

.btnEffectSpan::after {
	content: '';
	z-index: 10;
	position: absolute;
	width: 0;
	height: 0;
	bottom: -21px;
	right: -7px;
	border-right: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transition: 0.3s;
}

.btnEffectSpan:hover::after,
.btnEffectSpan:hover::before,
.btnEffectSpan:focus-within::after,
.btnEffectSpan:focus-within::before {
	width: 35px;
	height: 35px;
	border-color: #3399FF;
}

.inputDiv {
	width: 60%;
	margin: auto;
	margin-top: 20px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.errorDiv {
	width: 60%;
	color: red;
	margin: auto;
}

.inputField {
	border: 0;
	width: 90%;
	padding: 5px 3px 5px;
	border: 1px solid transparent;
	border-bottom-color: #ccc;
	transition: 0.3s;
}

.inputField::placeholder {
	font-size: 15px;
}

.inputField:focus {
	padding: 5px 14px 5px;
	transition: 0.3s;
	outline: none;
}

.inputField~.focusBorder {
	position: absolute;
	padding: 5px 14px 5px;
	height: 35px;
	bottom: 0;
	left: 0;
	width: 0;
	transition: 0.3s;
}

.inputField:focus~.focusBorder {
	width: 90%;
	transition: 0.3s;
	border-radius: 5px;
	border: 2px solid #3399FF;
}

/********************************************** TABLE **********************************************/

.patientsTable {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.patientsTable td,
.patientsTable th {
	padding-left: 15px;
	height: 35px;
}

.patientsTable thead {
	background-color: #4ECDC4;
}

.patientsTable td {
	border-left: solid 1px #ECF0F1;
	border-right: solid 1px #ECF0F1;
}

.patientsTable tr:nth-of-type(even) {
	background-color: #4ecdc556;
}
.patientsTable tr:last-child{
	border-bottom: solid 1px #ECF0F1;
}

.patientsTable tr:hover {
	background-color: rgba(154, 150, 150, 0.148);
	cursor: pointer;
}

/********************************************** patientProfil **********************************************/

.patientProfil{
	margin: 20px auto;
	width: 90%;
	height: 500px;
	
	display: flex;
}

.leftSideProfil{
	height: 100%;
	width: 50%;
	background-color: grey;
	display: flex;

	flex-direction: column;
}

.patientImg{
	margin: 15px auto;
}
.userImg{
	width: 100px;
	
}

.patientName{
	font-size:48px;
	font-weight: bold;
	margin: 0 auto;
}

.profilInfoImg{
	width: 40px;
}
.rightSideProfil{
	height: 100%;
	width: 50%;
	background-color: green;
}


